/* Light theme */
[data-theme="light"] {
  color-scheme: light;

  --color-brand: var(--black);
  --color-brand-muted: var(--gray-800);
  --color-brand-subtle: var(--gray-600);
  --color-brand-on: var(--white);

  --color-text: var(--gray-900);
  --color-text-strong: var(--black);
  --color-text-muted: var(--gray-700);
  --color-text-on-muted: var(--black);
  --color-text-on-brand: var(--white);
  --color-text-inverse: var(--white);
  --color-link: var(--blue-700);
  --color-link-hover: var(--blue-800);

  --color-bg: var(--white);
  --color-bg-surface: var(--gray-50);
  --color-bg-muted: var(--gray-100);
  --color-bg-accent: #d5fdff;
  --color-bg-highlight: #fff9d6;
  --color-bg-brand: var(--color-brand);
  --color-bg-brand-muted: var(--color-brand-muted);
  --color-bg-inverse: var(--black);

  --color-border: var(--gray-300);
  --color-border-inputs: var(--gray-600);
  --color-border-strong: var(--gray-900);
  --color-border-subtle: var(--gray-50);

  --color-state-hover: rgba(0, 0, 0, 0.04);
  --color-state-active: rgba(0, 0, 0, 0.08);
  --color-overlay: rgba(0, 0, 0, 0.5);

  --color-focus-ring: rgba(0, 87, 255, 0.4);

  --color-danger: var(--red-600);
  --color-danger-hover: var(--red-700);
  --color-danger-bg-subtle: var(--red-50);
  --color-danger-border-subtle: var(--red-300);
  --color-info: var(--blue-600);
  --color-info-bg-subtle: var(--blue-50);
  --color-info-border-subtle: var(--blue-200);
  --color-success: var(--green-600);
  --color-success-bg-subtle: var(--green-100);
  --color-error: var(--color-danger);
}
