---
import Component from "@components/utils/renderBlock.astro";

const {
  direction = "row",
  alignX = "start",
  buttonSections,
  editable = true,
  class: className,
  label,
  _component,
  ...htmlAttributes
} = Astro.props;

const slugifyLabel = (label: string) => {
  return label
    .toLowerCase()
    .replace(/[^a-z0-9]+/g, "-")
    .replace(/^-+|-+$/g, "");
};

if (!htmlAttributes.id && label) {
  htmlAttributes.id = slugifyLabel(label);
}

const alignMap = {
  start: "align-start",
  center: "align-center",
  end: "align-end",
} as const;

const alignClass = alignMap[alignX as keyof typeof alignMap] ?? "align-start";

const hasButtonSections = buttonSections?.length > 0;
const hasSlotContent = Astro.slots.has("default");
const usesButtonSections = !hasSlotContent;

if (!_component && !hasButtonSections && !hasSlotContent) return;
---

<div
  class:list={["button-group", direction === "column" ? "column" : "row", alignClass, className]}
  {...htmlAttributes}
>
  <div
    class="button-group-array"
    data-editable={editable ? "array" : undefined}
    data-prop="buttonSections"
  >
    <slot>
      {
        buttonSections && buttonSections.length > 0 && (
          <Component
            contentSections={buttonSections}
            editable={editable}
            propName="buttonSections"
          />
        )
      }
    </slot>
  </div>
</div>

<style lang="pcss" is:global>
  @layer components {
    .button-group {
      position: relative;
      margin-top: var(--spacing-lg);
      container-type: inline-size;
      width: 100%;

      & {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-sm);
      }

      &.column {
        & {
          flex-direction: column;
        }

        &.align-start {
          & {
            align-items: flex-start;
          }
        }

        &.align-center {
          & {
            align-items: center;
          }
        }

        &.align-end {
          & {
            align-items: flex-end;
          }
        }
      }

      &.row {
        & {
          flex-direction: row;
        }
      }

      &.align-center {
        & {
          justify-content: center;
        }
      }

      &.align-end {
        & {
          justify-content: flex-end;
        }
      }

      &.align-start {
        & {
          justify-content: flex-start;
        }
      }
    }

    .button-group-array {
      display: contents;
    }
  }
</style>
