---
import RenderBlock from "@components/utils/renderBlock.astro";

const {
  contentSections,
  editable = true,
  class: className,
  _component,
  ...htmlAttributes
} = Astro.props;
---

<div
  class:list={["grid-item", className]}
  data-editable={editable ? "array" : undefined}
  data-prop="contentSections"
  {...htmlAttributes}
>
  <slot>
    {
      contentSections && contentSections.length > 0 && (
        <RenderBlock
          contentSections={contentSections}
          propName="contentSections"
          editable={editable}
        />
      )
    }
  </slot>
</div>

<style lang="pcss" is:global>
  @layer components {
    .grid-item {
      height: 100%;
      container-type: inline-size;

      > *:only-child {
        height: 100%;
      }

      > *:first-child {
        margin-top: 0 !important;
      }
    }
  }
</style>
