---
import RenderBlock from "@components/utils/renderBlock.astro";

const {
  action,
  formBlocks = [],
  class: className,
  _component,
  editable = true,
  "data-prop": customDataProp = "formBlocks",
  ...htmlAttributes
} = Astro.props;

const arrayDataAttributes = editable
  ? {
      "data-editable": "array",
      "data-id-key": "_component",
    }
  : {};

const hasFormBlocks = formBlocks?.length > 0;
const hasSlotContent = Astro.slots.has("default");
const usesFormBlocks = !hasSlotContent;

if (!_component && !hasFormBlocks && !usesFormBlocks) return;
---

<form
  class:list={["form", className]}
  action={action}
  method="post"
  enctype="multipart/form-data"
  {...htmlAttributes}
>
  <div data-prop={customDataProp} {...arrayDataAttributes}>
    <slot>
      {formBlocks && <RenderBlock contentSections={formBlocks} />}
    </slot>
  </div>
  <slot />
</form>

<style is:global>
  @layer components {
    .form {
      margin-top: var(--spacing-lg);
      width: 100%;
    }
  }
</style>
