---
import RenderBlock from "@components/utils/renderBlock.astro";

const { action, formBlocks = [], class: className, editable = true, _component, ...htmlAttributes } =
  Astro.props;
---

<form
  class:list={["form", className]}
  action={action}
  method="post"
  enctype="multipart/form-data"
  {...htmlAttributes}
>
  <div
    class="form-blocks"
    data-editable={editable ? "array" : undefined}
    data-prop="formBlocks"
  >
    <RenderBlock contentSections={formBlocks} propName="formBlocks" />
  </div>
  <slot />
</form>

<style lang="pcss" is:global>
  @layer components {
    .form {
      margin-top: var(--spacing-lg);
      width: 100%;
    }
  }
</style>
