:where(:root) {
  --animation-fast: 100ms;
  --animation-normal: 200ms;
  --animation-slow: 500ms;

  --ease-default: ease;
  --ease-out: ease-out;
  --ease-in-out: ease-in-out;
  --ease-smooth: cubic-bezier(0.4, 0, 0.2, 1);
}
