---
import Components from "@components/utils/renderBlock.astro";

const { sections, hasPageSections, hasSlotContent } = Astro.props;
---

<div
  data-pagefind-body
  data-editable={hasPageSections ? "array" : undefined}
  data-prop="sections"
  data-component-key="_component"
>
  {
    hasPageSections ? (
      <Components contentSections={sections} propName="sections" />
    ) : hasSlotContent ? (
      <slot />
    ) : null
  }
</div>
